.restaurant-container{
    display: grid;
    margin: 1rem;
    grid-template-columns: 1fr;
    gap: 0.5em;
}

@media screen and (min-width: 33em)  {
    .restaurant-container{
        display: grid;
        margin: 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5em;
    }
}
